<!-- Post Comment -->
<div class="post_comment">
  <div class="post_comment_title">Post Comment</div>
  <div class="row">
    <div class="col-lg-12">
      <div class="post_comment_form_container">
        <form 
          #f="ngForm"
          [formGroup]="_commentForm"
          (ngSubmit)="_edit(f.value)">
          <input 
            type="text" 
            class="comment_input comment_input_name" 
            placeholder="Your Name" 
            formControlName="name" 
            required="required">
          
          <input 
            type="email" 
            class="comment_input comment_input_email" 
            placeholder="Your Email" 
            formControlName="email" 
            required="required">
          
          <textarea 
            class="comment_text" 
            placeholder="Your Comment" 
            required="required"
            formControlName="content">
          </textarea>
          
          <button 
            type="button" 
            class="comment_button" 
            [disabled]="!_commentForm.valid"
            (click)="_addComment(name.value, email.value, content.value)">
              Редагувати
          </button>
        </form>
      </div>
    </div>
  </div>
</div>