<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th><b>Назва:</b></th>
                <th><b>Теги:</b></th>
                <th><b>Автор:</b></th>
                <th><b>Кількість переглядів:</b></th>
                <th><b>Кількість лайків:</b></th>
                <th><b>Кількість дизлайків:</b></th>
                <th><b>Кількість коментарів:</b></th>
                <th><b>Дата створення:</b></th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th><b>Назва:</b></th>
                <th><b>Теги:</b></th>
                <th><b>Автор:</b></th>
                <th><b>Кількість переглядів:</b></th>
                <th><b>Кількість лайків:</b></th>
                <th><b>Кількість дизлайків:</b></th>
                <th><b>Кількість коментарів:</b></th>
                <th><b>Дата створення:</b></th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>System Architect, Cpp, ssss, saaa</td>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>61</td>
                <td>15</td>
                <td>10</td>
                <td>10</td>
                <td>2011/04/25</td>
                <td class="actions" data-th="">
                    <a class="btn btn-primary" routerLink="edit/1"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-sm text-white btn-danger" id="post.Post.Id" onclick="setDeletePostValues(this.id)" data-toggle="modal" data-target="#delete-post">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>System Architect, Cpp, ssss, saaa</td>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>61</td>
                <td>15</td>
                <td>10</td>
                <td>10</td>
                <td>2011/04/25</td>
                <td class="actions" data-th="">
                    <a class="btn btn-primary" routerLink="edit/1"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-sm text-white btn-danger" id="post.Post.Id" onclick="setDeletePostValues(this.id)" data-toggle="modal" data-target="#delete-post">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>System Architect, Cpp, ssss, saaa</td>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>61</td>
                <td>15</td>
                <td>10</td>
                <td>10</td>
                <td>2011/04/25</td>
                <td class="actions" data-th="">
                    <a class="btn btn-primary" routerLink="edit/1"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-sm text-white btn-danger" id="post.Post.Id" onclick="setDeletePostValues(this.id)" data-toggle="modal" data-target="#delete-post">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>System Architect, Cpp, ssss, saaa</td>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>61</td>
                <td>15</td>
                <td>10</td>
                <td>10</td>
                <td>2011/04/25</td>
                <td class="actions" data-th="">
                    <a class="btn btn-primary" routerLink="edit/1"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-sm text-white btn-danger" id="post.Post.Id" onclick="setDeletePostValues(this.id)" data-toggle="modal" data-target="#delete-post">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>System Architect, Cpp, ssss, saaa</td>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>61</td>
                <td>15</td>
                <td>10</td>
                <td>10</td>
                <td>2011/04/25</td>
                <td class="actions" data-th="">
                    <a class="btn btn-primary" routerLink="edit/1"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-sm text-white btn-danger" id="post.Post.Id" onclick="setDeletePostValues(this.id)" data-toggle="modal" data-target="#delete-post">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>System Architect, Cpp, ssss, saaa</td>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>61</td>
                <td>15</td>
                <td>10</td>
                <td>10</td>
                <td>2011/04/25</td>
                <td class="actions" data-th="">
                    <a class="btn btn-primary" routerLink="edit/1"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-sm text-white btn-danger" id="post.Post.Id" onclick="setDeletePostValues(this.id)" data-toggle="modal" data-target="#delete-post">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>System Architect, Cpp, ssss, saaa</td>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>61</td>
                <td>15</td>
                <td>10</td>
                <td>10</td>
                <td>2011/04/25</td>
                <td class="actions" data-th="">
                    <a class="btn btn-primary" routerLink="edit/1"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-sm text-white btn-danger" id="post.Post.Id" onclick="setDeletePostValues(this.id)" data-toggle="modal" data-target="#delete-post">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>System Architect, Cpp, ssss, saaa</td>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>61</td>
                <td>15</td>
                <td>10</td>
                <td>10</td>
                <td>2011/04/25</td>
                <td class="actions" data-th="">
                    <a class="btn btn-primary" routerLink="edit/1"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-sm text-white btn-danger" id="post.Post.Id" onclick="setDeletePostValues(this.id)" data-toggle="modal" data-target="#delete-post">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>System Architect, Cpp, ssss, saaa</td>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>61</td>
                <td>15</td>
                <td>10</td>
                <td>10</td>
                <td>2011/04/25</td>
                <td class="actions" data-th="">
                    <a class="btn btn-primary" routerLink="edit/1"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-sm text-white btn-danger" id="post.Post.Id" onclick="setDeletePostValues(this.id)" data-toggle="modal" data-target="#delete-post">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>System Architect, Cpp, ssss, saaa</td>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>61</td>
                <td>15</td>
                <td>10</td>
                <td>10</td>
                <td>2011/04/25</td>
            </tr>
            <tr>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>System Architect, Cpp, ssss, saaa</td>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>61</td>
                <td>15</td>
                <td>10</td>
                <td>10</td>
                <td>2011/04/25</td>
            </tr>
            <tr>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>System Architect, Cpp, ssss, saaa</td>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>61</td>
                <td>15</td>
                <td>10</td>
                <td>10</td>
                <td>2011/04/25</td>
            </tr>
            <tr>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>System Architect, Cpp, ssss, saaa</td>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>61</td>
                <td>15</td>
                <td>10</td>
                <td>10</td>
                <td>2011/04/25</td>
            </tr>
            <tr>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>System Architect, Cpp, ssss, saaa</td>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>61</td>
                <td>15</td>
                <td>10</td>
                <td>10</td>
                <td>2011/04/25</td>
            </tr>
            <tr>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>System Architect, Cpp, ssss, saaa</td>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>61</td>
                <td>15</td>
                <td>10</td>
                <td>10</td>
                <td>2011/04/25</td>
            </tr>
            <tr>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>System Architect, Cpp, ssss, saaa</td>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>61</td>
                <td>15</td>
                <td>10</td>
                <td>10</td>
                <td>2011/04/25</td>
            </tr>
            <tr>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>System Architect, Cpp, ssss, saaa</td>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>61</td>
                <td>15</td>
                <td>10</td>
                <td>10</td>
                <td>2011/04/25</td>
            </tr>
            <tr>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>System Architect, Cpp, ssss, saaa</td>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>61</td>
                <td>15</td>
                <td>10</td>
                <td>10</td>
                <td>2011/04/25</td>
            </tr>
            <tr>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>System Architect, Cpp, ssss, saaa</td>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>61</td>
                <td>15</td>
                <td>10</td>
                <td>10</td>
                <td>2011/04/25</td>
            </tr>
            <tr>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>System Architect, Cpp, ssss, saaa</td>
                <td><a routerLink="show/0">Tiger Nixon</a></td>
                <td>61</td>
                <td>15</td>
                <td>10</td>
                <td>10</td>
                <td>2011/04/25</td>
            </tr>
        </tbody>
    </table>
</div>