<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th><b>Назва:</b></th>
                <th><b>Теги:</b></th>
                <th><b>Автор:</b></th>
                <th><b>Статус</b></th>
                <th><b>Кількість переглядів:</b></th>
                <th><b>Кількість лайків:</b></th>
                <th><b>Кількість дизлайків:</b></th>
                <th><b>Кількість коментарів:</b></th>
                <th><b>Дата створення:</b></th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th><b>Назва:</b></th>
                <th><b>Теги:</b></th>
                <th><b>Автор:</b></th>
                <th><b>Статус</b></th>
                <th><b>Кількість переглядів:</b></th>
                <th><b>Кількість лайків:</b></th>
                <th><b>Кількість дизлайків:</b></th>
                <th><b>Кількість коментарів:</b></th>
                <th><b>Дата створення:</b></th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            <tr *ngFor="let post of posts">
                <td><a routerLink="show/{{post.Id}}">{{post.Title}}</a></td>
                <td>{{post.Tags}}</td>
                <td><a routerLink="/blog/profile/{{post.AuthorId}}">{{post.Author.FirstName + " " + post.Author.LastName}}</a></td>
                <td>
                    <select>
                        <option value="null">Виберіть статус</option>
                        <option value="0">Підтверджено</option>
                        <option value="1">Непідтверджено</option>
                    </select>
                    <button class="btn btn-sm btn-success btn-@item.Post.Id">Зберегти</button>
                </td>
                <td>{{post.Seen}}</td>
                <td>{{post.Likes}}</td>
                <td>{{post.Dislikes}}</td>
                <td>{{post.CommentsCount}}</td>
                <td>2011/04/25</td>
                <td class="actions" data-th="">
                    <a class="btn btn-primary" routerLink="post/edit/1"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-sm text-white btn-danger" id="post.Post.Id" onclick="setDeletePostValues(this.id)" data-toggle="modal" data-target="#delete-post">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>