<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th><b>Назва:</b></th>
                <th><b>Категорія:</b></th>
                <th><b>Теги:</b></th>
                <th><b>Автор:</b></th>
                <th><b>Статус</b></th>
                <th><b>Кількість переглядів:</b></th>
                <th><b>Кількість лайків:</b></th>
                <th><b>Кількість дизлайків:</b></th>
                <th><b>Кількість коментарів:</b></th>
                <th><b>Дата створення:</b></th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th><b>Назва:</b></th>
                <th><b>Категорія:</b></th>
                <th><b>Теги:</b></th>
                <th><b>Автор:</b></th>
                <th><b>Статус</b></th>
                <th><b>Кількість переглядів:</b></th>
                <th><b>Кількість лайків:</b></th>
                <th><b>Кількість дизлайків:</b></th>
                <th><b>Кількість коментарів:</b></th>
                <th><b>Дата створення:</b></th>
                <th></th>
            </tr>
        </tfoot>
        <tbody>
            <tr *ngFor="let post of posts">
                <td><a [routerLink]="[postsUrl, 'show', post.Id]">{{post.Title}}</a></td>
                <td><a [routerLink]="['/blog/posts-category', post.Category?.Name]">{{post.Category?.Name}}</a></td>
                <td><a [routerLink]="['/blog/posts', tag.Title]" *ngFor="let tag of post.TagsList; let isLast=last"> {{tag.Title}}{{isLast ? '' : ', '}}</a></td>
                <td><a [routerLink]="['/blog/profile', post.AuthorId]">{{post.Author?.FirstName + " " + post.Author?.LastName}}</a></td>
                <td>
                    <app-change-status [status]="null" (onChanged)="onChangeStatusAction(post.Id, $event)"></app-change-status>
                </td>
                <td>{{post.Seen}}</td>
                <td>{{post.Likes}}</td>
                <td>{{post.Dislikes}}</td>
                <td><a [routerLink]="['/admin/comments', post.Id]">{{post.CommentsCount}}</a></td>
                <td>2011/04/25</td>
                <td class="actions" data-th="">
                    <a class="btn btn-primary" [routerLink]="['post/edit', post.Id]"><i class="fa fa-edit"></i></a>
                    <button type="button" class="btn btn-sm text-white btn-danger" id="post.Post.Id" (click)="deleteAction(post.Id)" data-toggle="modal" data-target="#delete-post">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>