<div class="sidebar-box subs-wrap img px-4 py-5" style="background-image: url(images/bg_1.jpg);">
    <div class="overlay"></div>
    <h3 class="mb-4 sidebar-heading">Підпишіться на обновлення</h3>
    <p class="mb-4">Для того щоб отримувати найостанніші пости підпишіться на розсилання</p>
    <form action="#" class="subscribe-form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Електронна пошта">
            <input type="submit" value="Підписатись" class="mt-2 btn btn-white submit">
        </div>
    </form>
</div>