<!-- Main Content -->
<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 col-lg-3 ">
          <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="avatar" class="img-circle img-responsive"><br>
          <h3>Test Test</h3>
        </div>
        <div class=" col-md-9 col-lg-9">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#main-info">Осовна інформація</a></li>
            <li><a data-toggle="tab" href="#posts">Пости</a></li>
            <li><a data-toggle="tab" href="#comments">Коментарі</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="main-info">
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td></td>
                    <td class="pull-right">
                      <a class="" href="/editProfile"><i class="fa fa-edit"> Редагувати</i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>Ім'я:</td>
                    <td><b>Test</b></td>
                  </tr>
                  <tr>
                    <td>Фамілія:</td>
                    <td><b>Test</b></td>
                  </tr>
                  <tr>
                    <td>Електронна пошта:</td>
                    <td><b><a href="mailto:test@test.test">test@test.test</a></b></td>
                  </tr>
                  <tr>
                    <td>Адреса:</td>
                    <td><b>Address</b></td>
                  </tr>
                  <tr>
                    <td>Номер телефону:</td>
                    <td><b>0123456789</b></td>
                  </tr>
                  <tr>
                    <td>Статус:</td>
                    <td><b>active</b></td>
                  </tr>
                </tbody>
              </table>
              <div class="bs-callout bs-callout-danger">
                <h4>Про мене:</h4>
                <p>
                  Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur. Quis verear mel ne. Munere vituperata vis cu,
                  te pri duis timeam scaevola, nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti mediocritatem ei.
                </p>
                <p>
                  Odio recteque expetenda eum ea, cu atqui maiestatis cum. Te eum nibh laoreet, case nostrud nusquam an vis.
                  Clita debitis apeirian et sit, integre iudicabit elaboraret duo ex. Nihil causae adipisci id eos.
                </p>
              </div>
            </div>
            <div class="tab-pane" id="posts">
              <p><b>Статистика</b></p>
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Мої пости:</td>
                    <td><b>10</b></td>
                  </tr>
                  <tr>
                    <td>Збережені пости:</td>
                    <td><b>15</b></td>
                  </tr>
                </tbody>
              </table>
              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#my">Пости</a></li>
                <li><a data-toggle="tab" href="#saved">Збережені пости</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="my">
                  <p><b>Пости</b></p>
                  <table class="table table-hover table-condensed">
                    <thead>
                      <tr>
                        <th style="width:35%"><b>Назва:</b></th>
                        <th style="width:10%"><b>Кількість переглядів:</b></th>
                        <th style="width:10%"><b>Кількість лайків:</b></th>
                        <th style="width:10%"><b>Кількість дизлайків:</b></th>
                        <th style="width:15%"><b>Дата створення:</b></th>
                        <th style="width:20%"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <a href="/pathURL">Test title</a>
                        </td>
                        <td>100</td>
                        <td>15</td>
                        <td>3</td>
                        <td>27.05.2019</td>
                        <td class="actions" data-th="">
                          <a class="btn btn-primary" href="/edit"><i class="fa fa-edit"></i></a>
                          <button
                            type="button"
                            class="btn btn-sm text-white btn-danger"
                            id="1"
                            >
                              <i class="fa fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="/pathURL">Test title</a>
                        </td>
                        <td>100</td>
                        <td>15</td>
                        <td>3</td>
                        <td>27.05.2019</td>
                        <td class="actions" data-th="">
                          <a class="btn btn-primary" href="/edit"><i class="fa fa-edit"></i></a>
                          <button
                            type="button"
                            class="btn btn-sm text-white btn-danger"
                            id="1"
                            >
                              <i class="fa fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="/pathURL">Test title</a>
                        </td>
                        <td>100</td>
                        <td>15</td>
                        <td>3</td>
                        <td>27.05.2019</td>
                        <td class="actions" data-th="">
                          <a class="btn btn-primary" href="/edit"><i class="fa fa-edit"></i></a>
                          <button
                            type="button"
                            class="btn btn-sm text-white btn-danger"
                            id="1"
                            >
                              <i class="fa fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="/pathURL">Test title</a>
                        </td>
                        <td>100</td>
                        <td>15</td>
                        <td>3</td>
                        <td>27.05.2019</td>
                        <td class="actions" data-th="">
                          <a class="btn btn-primary" href="/edit"><i class="fa fa-edit"></i></a>
                          <button
                            type="button"
                            class="btn btn-sm text-white btn-danger"
                            id="1"
                            >
                              <i class="fa fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="/pathURL">Test title</a>
                        </td>
                        <td>100</td>
                        <td>15</td>
                        <td>3</td>
                        <td>27.05.2019</td>
                        <td class="actions" data-th="">
                          <a class="btn btn-primary" href="/edit"><i class="fa fa-edit"></i></a>
                          <button
                            type="button"
                            class="btn btn-sm text-white btn-danger"
                            id="1"
                            >
                              <i class="fa fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="/pathURL">Test title</a>
                        </td>
                        <td>100</td>
                        <td>15</td>
                        <td>3</td>
                        <td>27.05.2019</td>
                        <td class="actions" data-th="">
                          <a class="btn btn-primary" href="/edit"><i class="fa fa-edit"></i></a>
                          <button
                            type="button"
                            class="btn btn-sm text-white btn-danger"
                            id="1"
                            >
                              <i class="fa fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="/pathURL">Test title</a>
                        </td>
                        <td>100</td>
                        <td>15</td>
                        <td>3</td>
                        <td>27.05.2019</td>
                        <td class="actions" data-th="">
                          <a class="btn btn-primary" href="/edit"><i class="fa fa-edit"></i></a>
                          <button
                            type="button"
                            class="btn btn-sm text-white btn-danger"
                            id="1"
                            >
                              <i class="fa fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="/pathURL">Test title</a>
                        </td>
                        <td>100</td>
                        <td>15</td>
                        <td>3</td>
                        <td>27.05.2019</td>
                        <td class="actions" data-th="">
                          <a class="btn btn-primary" href="/edit"><i class="fa fa-edit"></i></a>
                          <button
                            type="button"
                            class="btn btn-sm text-white btn-danger"
                            id="1"
                            >
                              <i class="fa fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="/pathURL">Test title</a>
                        </td>
                        <td>100</td>
                        <td>15</td>
                        <td>3</td>
                        <td>27.05.2019</td>
                        <td class="actions" data-th="">
                          <a class="btn btn-primary" href="/edit"><i class="fa fa-edit"></i></a>
                          <button
                            type="button"
                            class="btn btn-sm text-white btn-danger"
                            id="1"
                            >
                              <i class="fa fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="/pathURL">Test title</a>
                        </td>
                        <td>100</td>
                        <td>15</td>
                        <td>3</td>
                        <td>27.05.2019</td>
                        <td class="actions" data-th="">
                          <a class="btn btn-primary" href="/edit"><i class="fa fa-edit"></i></a>
                          <button
                            type="button"
                            class="btn btn-sm text-white btn-danger"
                            id="1"
                            >
                              <i class="fa fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane" id="saved">
                  Збережені пости
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
      <span class="pull-right">
        <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
        <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
      </span>
    </div>
  </div>
</div>